/*--------------------------------------------------------------
  color
-------------------------------------------------------------- */

$darkgreen: #00430a;
$green: #007335;
$red: #db0c1e;

$darkred: #880000;
$black: #000000;
$brown: #473935;
$white: #ffffff;
$gray: #efefef;
$webshop-green: #003f0c;
$webshop-darkgreen: #002e0a;
