/*--------------------------------------------------------------
  1.header
-------------------------------------------------------------- */
.header {
  text-align: center;
  margin-bottom: 100px;
  //
  // --- media-Mobile ---
  //
  @include media-Mobile {
    width: 100%;
    .header-sec {
      &__store01 {
        &__sp {
          width: 100%;
          height: 920px;
          text-align: center;
          z-index: -1;
          background-image: url("../images_sp/store01.png");
          background-size: cover;
        }

        &__pc {
          display: none;
        }
      }

      &__logo {
        &__sp {
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 35px;
          width: 100%;

          img {
            width: 276px;
            height: 174px;
            z-index: 1;
            margin: 0 auto;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__catch-phrase {
        &__sp {
          position: absolute;
          top: 267px;
          width: 100%;

          img {
            width: 90%;
            height: auto;
            margin: 0 auto;
            z-index: 1;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        height: 265px;
        top: 555px;
        left: calc(50% - 180px);

        p {
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          width: 360px;
          color: white;
          font-size: 22px;
        }
      }
    }
  }

  //
  // --- media-Tablet & Pc ---
  //
  @include media-768 {
    width: 100%;
    .header-sec {
      &__nav {
        position: absolute;
        z-index: 1;
        height: 100vh;
        width: 100%;
        left: -100%;
        background: rgba(99, 99, 99, .95);
        -webkit-transition: 1.5s;
        transition: 1.5s;
      }

      &__target-inner {
        z-index: 1;
        width: 40px;
        height: 30px;
        position: absolute;
        left: 1370px;
        top: 10px;

        &__1 {
          display: block;
          width: 66px;
          height: 1px;
          background: $white;
          -webkit-transition: 1.5s;
          transition: 1.5s;
          border-radius: 50px;
          position: absolute;
          top: 0;
        }

        &__2 {
          display: block;
          width: 66px;
          height: 1px;
          background: $white;
          -webkit-transition: 1.5s;
          transition: 1.5s;
          border-radius: 50px;
          position: absolute;
          top: 13px;
        }

        &__3 {
          display: block;
          width: 66px;
          height: 1px;
          background: $white;
          -webkit-transition: 1.5s;
          transition: 1.5s;
          border-radius: 50px;
          position: absolute;
          top: 26px;
        }

        &__a {
          background: #ffffff;
          -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
          top: 13px;
        }

        &__b {
          background: #ffffff;
          opacity: 0;
        }

        &__c {
          background: #ffffff;
          -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
          top: 13px;
        }
      }

      &__store01 {
        &__sp {
          display: none;
        }

        &__pc {
          width: 100%;
          padding-top: 64%;
          text-align: center;
          z-index: -1;
          background-image: url("../images_pc/store01@3x.png");
          background-size:contain;
          padding-botton: 100px;
        }
      }

      &__logo {
        &__sp {
          display: none;
        }

        &__pc {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          cursor: pointer;
          position: absolute;
          text-align: center;
          top: 40px;
          width: 100%;
          z-index: 1;

          img {
            width: 24%;
            height: auto;
            z-index: 1;

          }
        }
      }

      &__catch-phrase {
        &__sp {
          display: none;
        }

        &__pc {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          border-radius: 50%;
          cursor: pointer;
          position: absolute;
          top: calc(23vw);
          width: 100%;

          img {
            width: 65%;
            height: auto;
            z-index: 1;
          }
        }
      }

      &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        height: 220px;
        width: 360px;
        top: calc(36vw);
        left: calc(50% - 180px);

        p {
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: white;
          font-size: 20px;

        }
      }

      /* 動き */
      &__fadein {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
    }
  }
}

/*--------------------------------------------------------------
  2.main-sec
-------------------------------------------------------------- */
.main {
  //
  // --- media-Mobile ---
  //
  @include media-Mobile {
    position: absolute;
    width: 100%;
    .main-sec {
      &__wrapper {
        position: relative;
        margin-bottom: 100px;
      }

      &__green-border {
        position: absolute;
        height: calc(100% + 80px);
        width: 90%;
        border: 2px solid $darkgreen;
        top: -50px;
        left: 50%;
        padding-bottom: 30px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index: -1;
      }

      &__box-container {
        width: 100%;
      }

      &__box-container-sp {
        width: 100%;
        text-align: center;
      }

      &__dish01 {
        &__sp {
          width: 66%;
          padding-top: 60%;
          background-image: url("../images_sp/dish01.png");
          background-size: cover;
          z-index: 2;
        }

        &__pc {
          display: none;
        }
      }

      &__dish02 {
        &__sp {
          margin: 0 0 0 auto;
          width: 66%;
          padding-top: 50%;
          background-image: url("../images_sp/dish02.png");
          background-size: cover;
          z-index: 2;
        }

        &__pc {
          display: none;
        }
      }

      &__dish03 {
        &__sp {
          text-align: center;

          img {
            width: 580px;
            height: 335px;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__store02 {
        &__sp {
          width: 100%;
          text-align: center;

          img {
            width: 580px;
            height: 335px;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__text01 {
        &__sp {
          position: relative;
          background-color: $darkgreen;
          width: 580px;
          height: 120px;
          display: table-cell;
          z-index: 1;

          &::after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 20px solid transparent;
            border-bottom: 20px solid $red;
            transform: rotate(-90deg);
            content: "";
            z-index: 3;
          }

          img {
            position: absolute;
            width: 172px;
            height: 61px;
            top: 29.5px;
            left: 204px;
            z-index: 2;
          }
        }

        &__pc {
          display: none
        }
      }

      &__text02 {
        &__sp {
          text-align: center;

          img {
            margin: 60px 0 15px;
            width: 172px;
            height: 70px;
          }
        }

        &__pc {
          display: none
        }
      }

      &__text03 {
        &__sp {
          top: 50px;
          position: relative;
          background-color: $darkgreen;
          width: 580px;
          height: 120px;
          display: table-cell;
          z-index: 1;

          &::after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 20px solid transparent;
            border-bottom: 20px solid $red;
            transform: rotate(-90deg);
            content: "";
            z-index: 3;
          }

          img {
            position: absolute;
            width: 172px;
            height: 61px;
            top: 29.5px;
            left: 204px;
            z-index: 2;
          }
        }

        &__pc {
          display: none
        }
      }

      &__description01 {
        margin: 50px auto 45px;
        width: 100%;
        height: 200px;

        p {
          margin: 0 auto;
          width: 75%;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 20px;
        }
      }

      &__description02 {
        margin: 150px auto 60px;
        width: 100%;

        p {
          margin: 0 auto;
          width: 75%;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 20px;
        }
      }

      &__description03 {
        width: 580px;
        margin: 0 auto;
        h2 {
          width: 580px;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 600;
          color: $darkgreen;
          font-size: 20px;
          margin-block-end: 40px;
        }
        p {
          width: 580px;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 18px;
          line-height: 35px;
          margin-block-end: 40px;
        }
      }

      &__tongue {
        &__sp {
          margin: 0 auto;

          img {
            width: 100%;
            height: 335px;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__ggmap {
        margin: 55px auto 0;
        width: 100%;
        height: 400px;
        left: 11%;
        position: relative;

        iframe {
          position: absolute;
          top: 0;
          width: 75%;
          height: 260px;
        }
      }

      &__btn {
        &__sp {
          margin: 60px auto 40px;
          position: absolute;
          margin-top: 300px;
          width: 80%;
          //height: 88px;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 600;
          background-color: $white;
          border: 4px solid $darkgreen;
          //font-size: 26.67px;
          padding: 10px 24px;
          border-radius: 50px;
          text-align: center;
          color: $darkgreen;
          text-align: center;
          padding: 20px;
        }

        &__pc {
          display: none;
        }
      }

      &__adjustment {
        margin: 0 auto;
        //left: 50px;
        width: 100%;
      }

      &__adjustment02 {
        margin: 0 auto;
        width: 580px;
      }
    }
  }

  @include media-580 {
    position: absolute;
    width: 100%;
    .main-sec {
      &__wrapper {
        position: relative;
        margin-bottom: 100px;
      }

      &__green-border {
        position: absolute;
        height: calc(100% + 80px);
        width: 90%;
        border: 2px solid $darkgreen;
        top: -50px;
        left: 50%;
        padding-bottom: 30px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index: -1;
      }

      &__box-container {
        width: 100%;
      }

      &__box-container-sp {
        width: 100%;
        text-align: center;
      }

      &__dish01 {
        &__sp {
          width: 66%;
          padding-top: 60%;
          background-image: url("../images_sp/dish01.png");
          background-size: cover;
          z-index: 2;
        }

        &__pc {
          display: none;
        }
      }

      &__dish02 {
        &__sp {
          margin: 0 0 0 auto;
          width: 66%;
          padding-top: 50%;
          background-image: url("../images_sp/dish02.png");
          background-size: cover;
          z-index: 2;
        }

        &__pc {
          display: none;
        }
      }

      &__dish03 {
        &__sp {
          text-align: center;

          img {
            width: 100%;
            height: 335px;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__store02 {
        &__sp {
          width: 100%;
          text-align: center;

          img {
            width: 100%;
            height: 335px;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__text01 {
        &__sp {
          position: relative;
          background-color: $darkgreen;
          //width: 100px;
          height: 120px;
          display: table-cell;
          z-index: 1;

          &::after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 20px solid transparent;
            border-bottom: 20px solid $red;
            transform: rotate(-90deg);
            content: "";
            z-index: 3;
          }

          img {
            position: absolute;
            width: 172px;
            height: 61px;
            top: 29.5px;
            left: calc(50% - 86px);
            z-index: 2;
          }
        }

        &__pc {
          display: none
        }
      }

      &__text02 {
        &__sp {
          text-align: center;

          img {
            margin: 60px 0 15px;
            width: 172px;
            height: 70px;
          }
        }

        &__pc {
          display: none
        }
      }

      &__text03 {
        &__sp {
          top: 50px;
          position: relative;
          background-color: $darkgreen;
          height: 120px;
          display: table-cell;
          z-index: 1;

          &::after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 20px solid transparent;
            border-bottom: 20px solid $red;
            transform: rotate(-90deg);
            content: "";
            z-index: 3;
          }

          img {
            position: absolute;
            width: 172px;
            height: 61px;
            top: 29.5px;
            left: calc(50% - 86px);
            z-index: 2;
          }
        }

        &__pc {
          display: none
        }
      }

      &__description01 {
        margin: 50px auto 45px;
        width: 100%;
        height: 200px;

        p {
          margin: 0 auto;
          width: 75%;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 20px;
        }
      }

      &__description02 {
        margin: 150px auto 60px;
        width: 100%;

        p {
          margin: 0 auto;
          width: 75%;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 20px;
        }
      }

      &__description03 {
        width: 90%;
        margin: 0 auto;
        h2 {
          width: 100%;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 600;
          color: $darkgreen;
          font-size: 20px;
          margin-block-end: 40px;
        }
        p {
          width: 100%;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 18px;
          line-height: 35px;
          margin-block-end: 40px;
        }
      }

      &__tongue {
        &__sp {
          margin: 0 auto;

          img {
            width: 100%;
            height: 335px;
          }
        }

        &__pc {
          display: none;
        }
      }

      &__ggmap {
        margin: 55px auto 0;
        width: 89%;
        height: 400px;
        left: 11%;
        left: inherit;

        iframe {
          //position: absolute;
          top: 0;
          width: 75%;
          height: 260px;
          position: relative;
          display: block;
          margin: 0 auto;
        }
      }

      &__btn {
        &__sp {
          margin: 60px auto 40px;
          width: 80%;
          //height: 88px;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 600;
          background-color: $white;
          border: 4px solid $darkgreen;
          //font-size: 26.67px;
          border-radius: 50px;
          text-align: center;
          color: $darkgreen;
          text-align: center;
          padding: 20px;
          left: 10%;
        }

        &__pc {
          display: none;
        }
      }

      &__adjustment {
        margin: 0 auto;
        //width: 100%;
      }

      &__adjustment02 {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  //
  // --- media-Tablet & Pc ---
  //
  @include media-768 {
    width: 100%;
    //margin: 0 auto;
    .main-sec {
      &__wrapper {
        position: relative;
        margin-bottom: 130px;
      }

      &__green-border {
        position: absolute;
        height: calc(100% + 100px);
        width: 66%;
        border: 2px solid $darkgreen;
        top: -50px;
        left: 50%;
        margin-bottom: 120px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        z-index: 0;
      }

      &__adjustment {
        width: 100%;
        height: 866px;
        text-align: center;
      }

      &__adjustment02 {
        width: 100%;
        height: 100%;
      }

      &__dish01 {
        &__sp {
          display: none;
        }

        &__pc {
          position: absolute;
          z-index: 2;
          width: 50%;
          padding-top: 30%;
          background-image: url("../images_pc/dish01@3x.png");
          background-size: cover;
        }
      }

      &__dish02 {
        &__sp {
          display: none;
        }

        &__pc{
          position: relative;
          z-index: 2;
          left: 50%;
          width: 50%;
          padding-top: 30%;
          background-image: url("../images_pc/dish02@3x.png");
          background-size: cover;

        }
      }

      &__dish03 {
        &__sp {
          display: none;
        }

        &__pc {
          position: absolute;
          width: 100%;

          img {
            position: absolute;
            z-index: 4;
            top: 600px;
            left: 16%;
            max-width: 750px;
            width: 50%;
            //height: 433px;
            height: auto;
          }
        }
      }

      &__tongue {
        &__sp {
          display: none;
        }

        &__pc {
          position: absolute;
          width: 100%;

          img {
            position: absolute;
            width: 50%;
            max-width: 750px;
            z-index: 3;
            transform: translate(0, 10%);
            //top: calc(200px);
            height: auto;
            left: calc((100% / 6) + (100% / 3 * 2 - 100% / 2));
          }
        }
      }

      &__store02 {
        &__sp {
          display: none;
        }

        &__pc {
          margin-bottom: 100px;
          width: 100%;
          text-align: center;
          img {
            width: 980px;
            height: 566px;
          }
        }
      }

      &__text01 {
        &__sp {
          display: none
        }

        &__pc {
          position: relative;
          float: left;
          width: 50%;
          background-color: $darkgreen;
          height: 550px;
          display: table-cell;
          z-index: 1;
          text-align: left;

          img {
            margin: calc(100% / 4) 0 0 calc(100% / 12.5);
            width: 172px;
            height: 61px;
            z-index: 4;
            position: relative; //x-indexを有効にするため
          }

          &::after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 30px solid transparent;
            border-bottom: 30px solid $red;
            transform: rotate(-90deg);
            content: "";
            z-index: 3;
          }
          &::before {
            content:"";
            display: block;
            padding-top: 79%; /* 高さを幅の75%に固定 */
          }
        }
      }

      &__text02 {
        &__sp {
          display: none
        }

        &__pc {
          width: 100%;
          text-align: center;

          img {
            margin: 140px 0 62px;
            width: 172px;
            height: 61px;
          }
        }
      }

      &__text03 {
        &__sp {
          display: none
        }

        &__pc {
          position: relative;
          background-color: $darkgreen;
          float: left;
          width: 50%;
          height: 550px;
          z-index: 1;

          img {
            margin-left: calc(100% - 200px);
            left: 500px;
            margin-top: calc(25% + 50px);
            width: 172px;
            height: 61px;
            z-index: 4;
          }

          &::after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 30px solid transparent;
            border-bottom: 30px solid $red;
            transform: rotate(-90deg);
            content: "";
            z-index: 3;
          }
        }
      }

      &__description01 {
        text-align: center;
        width: 50%;
        padding-top: 30%;
        left: 50%;

        p {
          left: 50%;
          width: 384px;
          height: 322px;
          margin: 50px;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 18px;
          top: 0;
          object-fit: cover;
          position: absolute;
        }
      }

      &__description02 {
        position: absolute;
        float: left;
        text-align: center;
        width: 50%;
        padding-top: 30%;

        p {
          position: absolute;
          width: 384px;
          height: 322px;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          margin: 50px 0 50px 316px;
          margin-left: calc(100% - 434px);
          color: $green;
          font-size: 18px;
          top: 0;
          object-fit: cover;

        }
      }

      &__description03 {
        margin: 0 auto;
        width: 980px;
        left: calc(50% - 490px);
        h2 {
          width: 980px;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 600;
          color: $darkgreen;
          font-size: 20px;
          margin-block-end: 40px;
        }

        p {
          width: 980px;
          text-align: left;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 300;
          color: $green;
          font-size: 18px;
          line-height: 35px;
          margin-block-end: 40px;
        }
      }

      &__ggmap {
        margin: 50px auto 0;
        width: 100%;
        height: 600px;
        text-align: center;
        position: relative;

        iframe {
          position: absolute;
          top: 0;
          margin: 0 auto;
          left: calc(50% - 437px);
          width: 874px;
          height: 434px;
        }
      }

      &__box01 {
        float: left;
        height: 550px;
        background-color: $gray;
        width: 50%;
      }

      &__box02 {
        float: left;
        width: 50%;
        height: 550px;
        background-color: $gray;
      }

      &__box-container {
        position: relative;
      }

      &__box-container02 {
        width: 50%;
        height: 500px
      }

      &__box-container03 {
        width: 100%;     //body幅(green-line)
        magin: 0 auto;
      }

      &__btn {
        &__sp {
          display: none
        }

        &__pc {
          position: absolute;
          top: 500px;
          left: calc(50% - 170px);
          margin: auto;
          width: 300px;
          height: 66px;
          background-color: $white;
          color: $darkgreen;
          border: 3px solid $green;
          font-size: 20px;
          font-family: ヒラギノ明朝 Pro, serif;
          font-weight: 600;
          border-radius: 40px;
          padding: 14px;
          text-align: center;
        }
      }
    }
  }
  %parallelWrapperBase {
    display: flex;
    align-items: center;
    position: relative;
    background-color: $gray;
    @include media-Mobile {
      display: block;
    }

    .parallel-title {
      position: relative;
      width: 50%;
      padding: 15% 0;
      background-color: $darkgreen;
      @include media-Mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        padding: 0;
      }

      a {
        display: block;
      }

      img {
        width: 172px;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        border-left: 30px solid transparent;
        border-bottom: 30px solid #db0c1e;
        transform: rotate(-90deg);
      }
    }

    .parallel-img {
      position: relative;
      width: 50%;
      @include media-Mobile {
        width: 100%;
      }

      .parallel-img__pc {
        position: absolute;
        z-index: 3;
        width: 100%;
        max-width: 750px;
        height: auto;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        @include media-Mobile {
          display: none;
        }
      }

      .parallel-img__sp {
        display: none;
        @include media-Mobile {
          display: block;
          max-width: 100%;
        }
      }
    }
  }

  &-sec__box-parallel--order {
    @extend %parallelWrapperBase;
    @include media-Mobile {
      margin-bottom: 50px;
      margin: 0 auto;
    }

    .parallel-title {
      text-align: left;

      img {
        margin-left: 8%;
        @include media-Mobile {
          margin-left: 0;
        }
      }
    }

    .parallel-img {

      .parallel-img__pc {
        left: calc((874px / 2) - 50%);
        margin-left: -50%;
        @include media-1500 {
          left: -50%;
          margin-left: 0;
        }
      }
    }
  }

  &-sec__box-parallel--takeout {
    @extend %parallelWrapperBase;
    flex-flow: row-reverse;

    .parallel-title {
      text-align: right;

      img {
        margin-right: 8%;
        @include media-Mobile {
          margin-right: 0;
        }
      }
    }

    .parallel-img {

      .parallel-img__pc {
        right: calc((874px / 2) - 50%);
        margin-right: -50%;
        @include media-1500 {
          right: -50%;
          margin-right: 0;
        }
      }
    }
  }
}


/*--------------------------------------------------------------
  3.cont-sec
-------------------------------------------------------------- */
.main {
  //
  // --- media-Mobile---
  //
  @include media-Mobile {
    //.cont-sec {}
  }
  //
  // --- media-Tablet & Pc ---
  //
  @include media-768 {
    .cont-sec {
      &__side {
        .clearfix:after {
          display: block;
          clear: both;
          content: "";
        }
      }

      &__box {
        width: 1500px;
        height: 550px;
      }
    }
  }
}


/*--------------------------------------------------------------
  4.footer
-------------------------------------------------------------- */
.footer {
  margin: 0 auto;
  width: 100%;

  //
  // --- media-Mobile---
  //
  @include media-Mobile {
    .footer-sec {
      &__footer {
        &__sp {
          padding-top: 4400px;
          left: 50%;
          text-aligin: center;
          width: 100%;
          height: 65px;

          p{
            font-family: ヒラギノ明朝 Pro, serif;
            font-weight: 600;
            color: $white;
            height: 65px;
            width: 100%;
            text-align: center;
            font-size: 18px;
            background-color: $webshop-darkgreen;
            padding-top: 20px;
            left: 1000px;
          }
        }
        &__pc {display: none}
    }
  }
}

  //
  // --- media-Tablet & Pc---
  //
  @include media-768 {
    .footer-sec {
      &__footer {
        &__sp {
          display: none;
        }

        &__pc {
          width: 100%;
          height: 56px;
          background-color: $darkgreen;
          text-align: center;
          margin-top: 100px;

          p{
            font-family: ヒラギノ明朝 Pro, serif;
            font-weight: 600;
            color: $white;
            font-size: 15px;
            padding-top: 20px;
          }
        }
      }
    }
  }
}